<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <title>Socket test</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<style>
  .msg-zone{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 0 35px 0;
    padding: 0;
    border: .5px solid #cee0e2;
  }

  .msg-zone>li{
    margin: 10px;
    padding: 10px;
    float: left;
    background-color: #def5ff;
    align-self: flex-start;
  }

  .msg-zone>li.me{
    float: right;
    background-color: #edffcd;
    align-self: flex-end;
  }


</style>

<body>

  <main style="padding: 20px;max-width: 720px;margin: 0 auto;" id="app">
    <h1>SOCKET CHAT TEST</h1>

    <div v-if="info_text" class="info-zone" style="padding: 10px; background-color:#ebe8ef; margin-bottom: 10px;">
      <b>info: </b>
      <span v-html="info_text"></span>
    </div>




    <ul v-if="messages.length" class="msg-zone">
      <li v-for="item in messages" :class="item.id == id ? 'me' : null">{{item.msg}}</li>
    </ul>
    <div style="clear: both"></div>

    <form @submit.prevent="send" name="message-form">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" v-model="msg" name="msg" type="text" id="msg">
        <label class="mdl-textfield__label" for="msg">Text...</label>
      </div>
      <br>
      <button class="mdl-js-ripple-effect mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Отправить
      </button>
    </form>





  </main>

  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
  <script type="text/babel">

    const app = new Vue({
      el: '#app',
      data: {
        id: null,
        msg: null,
        socket: {},
        info_text: null,
        messages: []
      },
      methods: {
        onopen(e){
          // console.log(e);
          this.info_text = "cоединение установлено";
          // setTimeout(()=>{this.info_text = null;}, 3000);
        },
        onclose(e){
          console.log(e);
          this.info_text = 'cоединение закрыто <br> код: ' + e.code + ' причина: ' + e.reason;
        },
        onerror(e){
          console.log(e);
          this.info_text = "ошибка " + e.message;
        },
        onmessage(e){
          console.log(e);
          this.messages.push(JSON.parse(e.data));
        },
        send(){
          let data = {
            id: this.id,
            msg: this.msg
          };
          this.socket.send(JSON.stringify(data));
          this.msg = null;
        }

      },
      created(){
        this.id = new Date().getTime();
        this.socket = new WebSocket("ws://35.237.22.132:53");

        this.socket.onopen    = this.onopen;
        this.socket.onclose   = this.onclose;
        this.socket.onerror   = this.onerror;
        this.socket.onmessage = this.onmessage;
      }
    });


  </script>
</body>
</html>